name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Configurar Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Instalar herramienta de análisis estático
      run: pip install pylint
    - name: Análisis de código estático (pylint)
      run: pylint .
    - name: Instalar herramienta de análisis de seguridad
      run: pip install bandit
    - name: Análisis de seguridad (bandit)
      run: bandit .
    - name: Ejecutar tests
      run: pytest
